<configuration status="off">
 
	
   <!--先定义所有的appender-->    
    <appenders>
        <RollingRandomAccessFile name="xsxPoctLog" fileName="${sys:catalina.home}/logs/xsxPoct.log"
             filePattern="${sys:catalina.home}/logs/xsxPoct-%d{yyyy-MM-dd}.log">
            <PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %F%L %m%n " />
        </RollingRandomAccessFile>
        
    </appenders>    
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->    
    <loggers>

        <root level="error" additivity="false">  
        	<appender-ref ref="xsxPoctLog" />
    	</root>  
    </loggers>
</configuration>  